<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Scegli l'esercizio:</h1>
    <a href="/risultato1">1. conversione in geodataframe</a>
    <a href="/input2">2. Mappa milano con punti neri</a>
    <a href="/input3">3. Mappa confini di Milano</a>
    <a href="/input4">4. colonnine inserite da un utente</a>
    <a href="/input5">5. colonnine in un raggio di 500 metri</a>
    <a href="/input6">6. quartieri di milano con più colonnine</a>
</body>
</html>